<!DOCTYPE html>
<html>
    <head>
        <title>CK's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">CK's blog</a></h1>
        </header>

        <article>
            <time>published: 19.06.2026, 21:42</time>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!</p>
        </article>
        
        <article>
            <time>published: 19.06.2026, 21:43</time>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!</p>
        </article>
    </body>
</html>